---
import Section from "../Section.astro";

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <div class="flex flex-col gap-3 text-base text-pretty">
    {summary.split('\n\n').map((paragraph) => <p>{paragraph}</p>)}
  </div>
</Section>