---
import Section from "../Section.astro";
---

<Section title='Certificaciones y Logros'>
  <div class="grid grid-cols-2 gap-5">
    <div>
      <figure>
        <img src="/Activathon.png" alt="" class="aspect-square size-30 rounded-lg w-full"/>
      </figure>
      <a href="https://innovayaccion.com/activathon-vlc-2023" class="flex justify-center hover:underline mt-2">Equipo ganador del Activathon VLC 2023</a>
    </div>
  </div>
</Section>