---
import { Blog as BlogPage } from "@/components/all/Blog.tsx";
import Layout from "@/layouts/Layout.astro";

import { basics } from "@cv"
const { name, label } = basics
---
<Layout title={`Portafolio de ${name} - ${label}`}>
  <section class="flex justify-between items-center px-10 pt-6 my-5">
    <a href="/" class="text-sm text-blue-600 hover:underline transition">
      ← Volver al inicio
    </a>
    <h1 class="text-3xl font-bold text-center flex-1">Todos mis artículos</h1>
  </section>
  <main>
    <BlogPage client:visible />
  </main>
</Layout>
