---
import About from '@/components/sections/About.astro';
import Layout from '../layouts/Layout.astro';

import Hero from '@/components/sections/Hero.astro';

import { basics } from "@cv"
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Education from '@/components/sections/Education.astro';
import Blog from '@/components/sections/Blog.astro'
import Thanks from '@/components/sections/Thanks.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Reviews from '@/components/sections/Reviews.astro';
import Awards from '@/components/sections/Awards.astro';
import Volunteer from '@/components/sections/Volunteer.astro';
import PrintResume from '@/components/PrintResume.astro';

const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main class="p-10 print:hidden">
	  <Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Blog />
		<Reviews />
		<Awards />
		<!-- <Volunteer /> -->
		<Thanks />
	</main>
	<div class="hidden print:block print:h-full">
		<PrintResume />
	</div>
	<KeyboardManager />
</Layout>
