---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";

import { basics } from "@cv"
const { name, label } = basics
---
<Layout title={`Portafolio de ${name} - ${label}`}>
  <Section title="Todos mis proyectos">
    
  </Section>
</Layout>
