---
interface Props {
  color?: string
  // Lista de skills (nombres) a mostrar.
  items?: readonly string[]
}

const { color = "", items = [] } = Astro.props
const list = items
---

<ul class="inline-flex gap-2 flex-wrap">
  {
    list.map((name) => (
      <li class={`flex items-center ${color} rounded-lg text-sm gap-1.5 px-1.5 py-0.5`}>
        <span>{name}</span>
      </li>
    ))
  }
</ul>
